@text-size:                  16px;
@text-size-sm:               14px;
@text-size-h1:
@text-size-h2:

@color-primary:              #ff7435;
@color-second:               #0ab89d;
@color-primary--hover:       #e85715;
@color-secondary--hover:     #079b84;
@color-error:                #e71818;
@color-date__hover:           #f1f1f1;

@gray-darkest:               #191919;
@gray-darken:                #4c4c4c;
@gray-light:                 #979696;
@gray-lighten:               #ebebeb
@gray-lightest:              #fafafa;



@font-family:                Fira Sans, Arial, sans-serif;
@font-family-secondary:      PT Serif Caption, Times, serif;
@font-family:                PT Serif, sefif;

@screen-sm:                  768px;
@screen-md:                  1200px;

@border-btn:                 1px solid white;
@btn-background:             