@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,500,700&subset=cyrillic);
@import url(https://fonts.googleapis.com/css?family=PT+Serif+Caption&subset=cyrillic);
@import url(https://fonts.googleapis.com/css?family=PT+Serif&subset=cyrillic);
@import url(https://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700&subset=cyrillic);
.btn {
  background: #ff7435;
  border-radius: 70px;
  font-family: 'Fira Sans', sans-serif;
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  box-sizing: border-box;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 30px;
  display: inline-block;
  border: none;
  outline: none;
}
.btn:hover {
  background: #e85715;
}
.btn--green {
  background: #0ab89d;
  color: #ffffff;
  padding: 20px 30px 20px 30px;
  text-decoration: none;
  border-radius: 0;
}
.btn--green:hover {
  background: #079b84;
}
.btn--white-bordered {
  color: #ffffff;
  background-color: #15b598;
  padding: 10px 28px 10px 26px;
  text-decoration: none;
  border: 2px solid white;
}
.btn--white-bordered:hover {
  background: #ffffff;
  color: #15b598;
}
.btn--icon-calendar {
  padding-left: 20px;
  padding-right: 20px;
}
.btn--icon-calendar span {
  background-image: url('../../img/calendar.png');
  width: 16px;
  height: 16px;
  display: inline-block;
}
.page-header {
  border-bottom: 1px solid #ebebeb;
  padding: 10px 0;
  max-width: 1200px;
}
.page-header__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}
.page-header__contacts {
  display: block;
}
@media screen and (max-width: 1200px) {
  .page-header__contacts {
    display: none;
  }
}
.page-header__contacts a {
  text-decoration: none;
  color: #191919;
  font-size: 18px;
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: bold;
}
.page-header__contacts p {
  color: #191919;
  font-size: 14px;
  font-family: 'Fira Sans', sans-serif;
}
.page-header__btn {
  display: block;
}
@media screen and (max-width: 1200px) {
  .page-header__btn {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .page-footer__address {
    display: none;
  }
  .page-footer__contacts {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
}
@media screen and (min-width: 1200px) {
}
@media screen and (max-width: 1200px) {
  .main-nav {
    display: none;
  }
}
.main-nav__item {
  display: inline-block;
  text-transform: uppercase;
  padding-right: 10px;
}
.main-nav__list {
  padding: 0;
  list-style: none;
}
.main-nav__item a {
  text-decoration: none;
  color: #191919;
  font-size: 14px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  line-height: 72px;
}
.main-nav__item a:hover {
  color: #ff7435;
}
.main-nav__burger {
  background: url(../../img/burger.png) no-repeat 0 0;
  width: 30px;
  height: 20px;
}
@media screen and (min-width: 1200px) {
  .main-nav__burger {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .main-nav__burger {
    display: none;
  }
}
.rest-tabs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  max-width: 1200px;
}
.rest-tabs__switcher {
  list-style: none;
  display: inline-flex;
}
.rest-tabs__switcher li {
  display: inline-block;
}
.rest-tabs__switcher a {
  text-decoration: none;
  text-transform: uppercase;
  color: #838383;
  font-size: 14px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  line-height: 72px;
}
.rest-tabs__switcher:selected {
  color: #ff7435;
}
.rest-tabs__tabs-top {
  display: flex;
  width: 100%;
}
.rest-tabs__top-item {
  display: block;
  background-image: url('../../img/tabs-top.png');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 320px;
  min-width: 1200px;
}
.rest-tabs__top-item-inner {
  margin-left: 20px;
  margin-top: 20px;
}
.rest-tabs__top-title {
  color: #1c1c1c;
  font-size: 36px;
  font-family: 'PT Serif Caption', serif;
  line-height: 42px;
  text-align: left;
  font-weight: 400;
}
.rest-tabs__top-description {
  color: #1c1c1c;
  font-size: 18px;
  font-family: 'Fira Sans', sans-serif;
  line-height: 24px;
}
.rest-tabs__bottom-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 865px;
}
.rest-tabs__bottom-list-item {
  display: inline-flex;
  flex-wrap: wrap;
  font-size: 14px;
  font-family: 'Fira Sans', sans-serif;
  line-height: 72px;
  font-weight: 500;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  max-width: 95px;
  word-wrap: break-word;
}
.rest-tabs__bottom-list-item img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin-bottom: 15px;
}
.rest-tabs__bottom-item-inner {
  background-image: url("../../img/background-tabs-bottom.png");
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 450px;
}
.rest-tabs__bottom-title {
  color: #000000;
  font-size: 30px;
  font-family: 'PT Serif Caption', serif;
  text-align: center;
}
.rest-tabs__bottom-description {
  color: #000000;
  font-size: 16px;
  font-family: 'Fira Sans', sans-serif;
  line-height: 22px;
  font-weight: 500;
  text-align: center;
}
.location__transport {
  display: flex;
}
.location__title {
  color: #191919;
  font-family: 'PT Serif Caption', serif;
  font-size: 30px;
}
.location__transport-title {
  color: #191919;
  font-family: 'Fira Sans', sans-serif;
  font-size: 14px;
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 1200px) {
  .location__transport {
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
}
.choose-rest {
  background-image: url("../../img/background-rest-place.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 10px;
  min-height: 500px;
  max-width: 1200px;
}
.choose-rest__inner {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  flex-wrap: wrap;
  align-items: center;
}
.choose-rest h1 {
  color: white;
  font-family: 'PT Serif Caption', serif;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
}
.choose-rest__desc {
  background: white;
  margin: 0;
  height: 136px;
  min-width: 280px;
}
.choose-rest__img {
  margin: 0;
  min-width: 280px;
  height: 200px;
}
.choose-rest__place {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-decoration: none;
  color: #191919;
  text-align: center;
}
.choose-rest__title {
  font-family: 'PT Serif', serif;
  font-size: 26px;
  line-height: 19px;
  vertical-align: middle;
}
.choose-rest__place-inner {
  margin: 10px;
}
.price {
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  vertical-align: middle;
}
.price span {
  color: #ff7435;
}
.offers__title {
  color: #000000;
  font-family: 'PT Serif Caption', serif;
  font-size: 30px;
}
.offers__season-title {
  color: #ff7435;
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
}
.offers__season-item {
  color: #191919;
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
}
