@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,500,700&subset=cyrillic);
@import url(https://fonts.googleapis.com/css?family=PT+Serif+Caption&subset=cyrillic);
@import url(https://fonts.googleapis.com/css?family=PT+Serif&subset=cyrillic);
@import url(https://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700&subset=cyrillic);
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
@at-root {
  @-ms-viewport {
    width: device-width;
  }
}
[tabindex='-1']:focus {
  outline: none !important;
}
[role='button'] {
  cursor: pointer;
}
a,
area,
button,
[role='button'],
input,
label,
select,
summary,
textarea {
  touch-action: manipulation;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 8px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-overflow-style: scrollbar;
  -ms-text-size-adjust: 100%;
  min-width: 320px;
  min-height: 100%;
  site: be cool;
}
@media (min-width: 480px) {
  html {
    font-size: 10px;
  }
}
body {
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  color: #191919;
  background-color: ;
  margin: 0;
  min-height: 100%;
}
a {
  color: #191919;
  text-decoration: none;
  background-color: transparent;
}
a:hover,
a:focus {
  color: #ff7435;
  text-decoration: underline;
}
img {
  max-width: 100%;
  height: auto;
  border: 0;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 26px;
}
h1,
h2 {
  font-family: 'PT Serif Caption', serif;
  font-weight: 400;
}
h3 {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
}
.btn {
  background: #ff7435;
  border-radius: 70px;
  font-family: 'Fira Sans', sans-serif;
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  box-sizing: border-box;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 30px;
  display: inline-block;
  border: none;
  outline: none;
  margin-bottom: 0;
  touch-action: manipulation;
  cursor: pointer;
  outline: 0;
  transition: ease-in-out all 400ms;
}
.btn a {
  text-decoration: none;
}
.btn:hover {
  background: #e85715;
}
.btn--green {
  background: #0ab89d;
  color: #ffffff;
  padding: 20px 30px 20px 30px;
  text-decoration: none;
  border-radius: 0;
}
.btn--green:hover {
  background: #079b84;
}
.btn--white-bordered {
  color: #ffffff;
  background-color: #15b598;
  padding: 10px 28px 10px 26px;
  text-decoration: none;
  border: 2px solid white;
}
.btn--white-bordered:hover {
  background: #ffffff;
  color: #15b598;
}
.btn--icon-calendar {
  padding-left: 20px;
  padding-right: 20px;
}
.btn--icon-calendar span {
  background-image: url('../../img/calendar.png');
  width: 16px;
  height: 16px;
  display: inline-block;
}
.more {
  font-family: 'Fira Sans', sans-serif;
  color: #191919;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  box-sizing: border-box;
  text-transform: uppercase;
  border-bottom: 1px dashed #191919;
  display: inline-block;
}
.page-header {
  border-bottom: 1px solid #ebebeb;
}
.page-header__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-right: 0;
  align-items: center;
  padding: 0 25px;
}
@media (min-width: 1200px) {
  .page-header__inner {
    width: 1180px !important;
    margin-left: auto !important;
  }
}
@media (min-width: 768px) {
  .page-header__inner {
    width: 768px;
  }
}
.page-header__contacts {
  display: none;
}
@media screen and (min-width: 1200px) {
  .page-header__contacts {
    display: inline-block;
  }
}
.page-header__contacts a {
  text-decoration: none;
  color: #191919;
  font-size: 18px;
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: bold;
}
.page-header__contacts p {
  color: #191919;
  font-size: 14px;
  font-family: 'Fira Sans', sans-serif;
}
.page-header__btn {
  display: none;
}
@media screen and (min-width: 1200px) {
  .page-header__btn {
    display: inline-block !important;
  }
}
.page-footer {
  display: flex;
  justify-content: center;
}
.page-footer__address {
  font-family: 'Fira Sans', sans-serif;
  font-size: 14px;
  line-height: 18px;
  padding-right: 200px;
}
@media screen and (max-width: 768px) {
  .page-footer__address {
    display: none;
  }
}
.page-footer__contacts {
  font-family: 'Fira Sans', sans-serif;
  font-size: 14px;
  line-height: 18px;
  padding-left: 300px;
}
@media screen and (max-width: 768px) {
  .page-footer__contacts {
    display: none;
  }
}
.social {
  list-style: none;
}
.main-nav {
  display: none;
}
@media screen and (min-width: 1200px) {
  .main-nav {
    display: inline-block;
  }
}
.main-nav__item {
  display: inline-block;
  padding: 0;
  margin: 0;
}
.main-nav__list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.main-nav__item a:first-child {
  padding-left: 0;
}
.main-nav__item a {
  text-decoration: none;
  font-size: 14px;
  line-height: 72px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 300;
  padding: 0 6px;
}
.main-nav__item a:hover {
  color: #ff7435;
}
.main-nav__burger {
  background: url("../../img/burger.png") no-repeat 0 0;
  width: 30px;
  height: 20px;
  display: inline-block;
}
@media screen and (min-width: 1200px) {
  .main-nav__burger {
    display: none;
  }
}
.rest-tabs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  justify-content: center;
}
.rest-tabs__switcher {
  list-style: none;
  order: 2;
}
.rest-tabs__switcher li {
  display: inline-block;
}
.rest-tabs__switcher a {
  text-decoration: none;
  text-transform: uppercase;
  color: #838383;
  font-size: 14px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  line-height: 72px;
}
.rest-tabs__switcher:selected {
  color: #ff7435;
}
.rest-tabs__tabs-top {
  display: flex;
  width: 100%;
  order: 1;
}
.rest-tabs__top-item {
  display: block;
  background-image: url('../../img/tabs-top.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .rest-tabs__top-item {
    min-height: 430px;
  }
}
.rest-tabs__top-inner-text {
  margin-left: 90px;
  margin-top: 75px;
  max-width: 590px;
  display: block;
}
.rest-tabs__top-title {
  color: #1c1c1c;
  font-size: 36px;
  font-family: 'PT Serif Caption', serif;
  line-height: 42px;
  text-align: left;
  font-weight: 400;
  background-color: #fffffe;
}
.rest-tabs__top-description {
  color: #1c1c1c;
  font-size: 18px;
  font-family: 'Fira Sans', sans-serif;
  line-height: 24px;
  text-align: left;
  background-color: #fffffe;
}
.rest-tabs__tabs-bottom {
  order: 3;
}
.rest-tabs__bottom-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 865px;
  margin-left: 210px;
  margin-right: 210px;
}
@media screen and (min-width: 1200px) {
  .rest-tabs__bottom-list {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .rest-tabs__bottom-list {
    display: none;
  }
}
.rest-tabs__bottom-list-item {
  display: inline-flex;
  flex-wrap: wrap;
  font-size: 14px;
  font-family: 'Fira Sans', sans-serif;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  vertical-align: top;
  max-width: 80px;
  margin-left: 35px;
  margin-bottom: 20px;
}
.rest-tabs__bottom-list-item img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin-bottom: 15px;
}
.rest-tabs__bottom-item-inner {
  background-image: url("../../img/background-tabs-bottom.png");
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 450px;
  padding-top: 40px;
}
.rest-tabs__bottom-title {
  color: #000000;
  font-size: 30px;
  font-family: 'PT Serif Caption', serif;
  text-align: center;
}
.rest-tabs__bottom-description {
  color: #000000;
  font-size: 16px;
  font-family: 'Fira Sans', sans-serif;
  line-height: 22px;
  font-weight: 500;
  text-align: center;
}
.location__transport {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.location__transport-item {
  max-width: 480px;
  color: #191919;
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.location__transport-item ul {
  list-style: none;
}
.location__title {
  color: #191919;
  font-family: 'PT Serif Caption', serif;
  font-size: 30px;
  text-align: center;
  font-weight: 400;
}
.location__transport-title {
  color: #191919;
  font-family: 'Fira Sans', sans-serif;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
}
.location__transport--bus {
  background-image: url("../../img/bus.png");
  background-repeat: no-repeat;
  width: 55px;
  height: 30px;
}
.location__transport--train {
  background-image: url("../../img/train.png");
  background-repeat: no-repeat;
  width: 60px;
  height: 30px;
}
@media screen and (max-width: 768px) {
}
.choose-rest {
  background-image: url("../../img/background-rest-place.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 10px;
  min-height: 500px;
  width: 100%;
}
.choose-rest__inner {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  align-items: center;
  flex-wrap: wrap;
}
@media and (max-width: 1200px) {
  .choose-rest__inner {
    flex-wrap: wrap;
  }
}
.choose-rest h1 {
  color: white;
  font-family: 'PT Serif Caption', serif;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
}
.choose-rest__desc {
  background: white;
  margin: 0;
  height: 136px;
  min-width: 280px;
}
.choose-rest__img {
  margin: 0;
  min-width: 280px;
  height: 200px;
}
.choose-rest__place {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-decoration: none;
  color: #191919;
  text-align: center;
}
.choose-rest__title {
  font-family: 'PT Serif', serif;
  font-size: 26px;
  line-height: 19px;
  vertical-align: middle;
}
.choose-rest__place-inner {
  margin: 10px;
}
.offers__title {
  color: #000000;
  font-family: 'PT Serif Caption', serif;
  font-size: 30px;
}
.offers__season-title {
  color: #ff7435;
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
}
.offers__season-item {
  color: #191919;
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
}
.reviews {
  background-image: url("../../img/background-reviews.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.reviews reviews__gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.reviews__title {
  font-family: 'PT Serif Caption', serif;
  font-size: 30px;
  vertical-align: middle;
  color: white;
  font-weight: 400;
}
.reviews__item {
  background-color: white;
  margin: 10px;
  max-width: 480px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.owl-prev {
  border-bottom: 2px solid white;
  border-left: 2px solid white;
  width: 20px;
  height: 20px;
  transform: rotate(50deg);
  color: rgba(200, 54, 54, 0);
}
.owl-next {
  border-bottom: 2px solid white;
  border-left: 2px solid white;
  width: 20px;
  height: 20px;
  transform: rotate(-130deg);
  color: rgba(200, 54, 54, 0);
}
.booking section:nth-child(odd) {
  background-color: #f1f1f1;
}
@media screen and (min-width: 1200px) {
  .booking-form__inner {
    padding-bottom: 100px;
  }
}
.booking-form__main-title {
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 30px;
  text-align: center;
  color: #000000;
}
.booking-form__title {
  font-family: 'PT Serif', serif;
  font-size: 26px;
  line-height: 19px;
  color: #191919;
  text-align: center;
  padding-bottom: 30px;
  font-weight: 300px;
}
.booking-form__desc {
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-align: center;
}
.booking-form__desc span {
  color: #ff7435;
}
.booking-form__date {
  font-family: 'Fira Sans', sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #4c4c4c;
  text-align: center;
  text-transform: uppercase;
}
.booking-form__inner-date {
  width: 180px;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .booking-form__inner-date {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    width: 380px;
    height: 140px;
  }
}
@media screen and (min-width: 1200px) {
  .booking-form__inner-date {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    width: 380px;
    height: 140px;
    background-color: white;
    border: 1px solid #ebebeb;
    padding: 15px 0;
  }
}
.booking-form__inner-date li {
  font-size: 0;
  display: block;
  padding-bottom: 35px;
}
.booking-form__inner-date input {
  border: 1px solid #ebebeb;
  width: 53px;
  height: 48px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Fira Sans', sans-serif;
  color: #0ab89d;
}
.booking-form__inner-date label {
  font-size: 14px;
  line-height: 18px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  color: #191919;
  display: inline-block;
  cursor: pointer;
  margin-bottom: 15px;
  text-align: center;
}
.booking-form__place-radio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px 50px;
  margin: 0 auto;
}
.booking-form__place-list {
  width: 100%;
  display: inline-block;
  border: 1px solid #ebebeb;
  font-size: 0;
  padding: 25px 0 48px;
  max-width: 380px;
  margin: 0 auto;
  list-style: none;
}
.booking-form__place-item {
  display: inline-block;
  width: 50%;
  margin: 0;
  text-transform: uppercase;
}
.booking-form__place-item label {
  padding-bottom: 73px;
  position: relative;
  font-size: 14px;
  line-height: 18px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  color: #191919;
  display: inline-block;
  cursor: pointer;
  margin-bottom: 15px;
  text-align: center;
}
.booking-form__place-item input {
  display: none;
  outline: 0;
  font-size: 14px;
  line-height: 18px;
  font-family: 'Fira Sans', sans-serif;
  text-transform: uppercase;
  color: #0ab89d;
  border: 1px solid #ebebeb;
  font-weight: 500;
  padding: 16px;
  text-align: center;
  background-color: #fff;
}
.step-form {
  font-family: 'Fira Sans', sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: #929292;
  text-align: center;
  text-transform: uppercase;
}
/* 
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.owl-carousel .owl-animated-in {
  z-index: 0;
}
.owl-carousel .owl-animated-out {
  z-index: 1;
}
.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* 
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}
/* 
 *  Core Owl Carousel CSS File
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}
.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
}
.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel.owl-loaded {
  display: block;
}
.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}
.owl-carousel.owl-hidden {
  opacity: 0;
}
.owl-carousel .owl-refresh .owl-item {
  display: none;
}
.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  -webkit-transform-style: preserve-3d;
}
.owl-carousel.owl-text-select-on .owl-item {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}
.owl-carousel .owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}
.owl-carousel.owl-rtl {
  direction: rtl;
}
.owl-carousel.owl-rtl .owl-item {
  float: right;
}
/* No Js */
.no-js .owl-carousel {
  display: block;
}
/* 
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-item img {
  transform-style: preserve-3d;
}
/* 
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}
.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: scale 100ms ease;
  -moz-transition: scale 100ms ease;
  -ms-transition: scale 100ms ease;
  -o-transition: scale 100ms ease;
  transition: scale 100ms ease;
}
.owl-carousel .owl-video-play-icon:hover {
  -webkit-transition: scale(1.3, 1.3);
  -moz-transition: scale(1.3, 1.3);
  -ms-transition: scale(1.3, 1.3);
  -o-transition: scale(1.3, 1.3);
  transition: scale(1.3, 1.3);
}
.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none;
}
.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
}
.room-types__promo {
  padding: 40px 0;
  margin-bottom: 45px;
  text-align: center;
  min-height: 200px;
  background-image: url(../../img/promo-room-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 20% 80%;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) {
  .room-types__promo {
    display: block;
  }
}
.room-types__title {
  font-size: 26px;
  font-family: 'PT Serif Caption', serif;
  font-weight: 300;
  display: inline-block;
  color: white;
}
.room-types__description {
  display: none;
  font-size: 18px;
  line-height: 24px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  color: white;
}
@media (min-width: 768px) {
  .room-types__description {
    display: block;
  }
}
.room-types__description p {
  margin: 0;
}
.room-types__inner {
  margin-right: auto;
  margin-left: auto;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  display: flex;
}
@media (min-width: 1200px) {
  .room-types__inner {
    width: 1180px;
  }
}
.room-item {
  width: 100%;
  border: 1px solid #ebebeb;
  background-color: #fafafa;
  text-align: center;
  padding: 35px 0;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1200px) {
  .room-item {
    position: relative;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 80px;
  }
}
@media (min-width: 1200px) {
  .room-item__inner {
    width: 50%;
  }
}
.room-item__img-inner {
  display: inline-block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin-top: 30px;
}
@media (min-width: 1200px) {
  .room-item__img-inner {
    width: 50%;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
  }
}
.room-item__img-inner img {
  width: 100%;
  height: 100%;
}
.room-item__title {
  font-family: 'PT Serif', serif;
  font-size: 26px;
  line-height: 19px;
  vertical-align: middle;
  color: #191919;
  margin: 0;
}
@media (min-width: 768px) {
  .room-item__title {
    font-size: 30px;
  }
}
.room-item__text {
  width: 90%;
  display: inline-block;
  text-align: left;
  margin-top: 25px;
  margin-bottom: 35px;
}
@media (min-width: 1200px) {
  .room-item__text {
    width: 65%;
  }
}
@media (min-width: 768px) {
  .room-item__text {
    width: 55%;
  }
}
.room-item__text p {
  margin: 0;
}
.room-item__btns {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .room-item__btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
.room-item__btn-wrapper {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .room-item__btn-wrapper {
    margin-right: 40px;
  }
}
.room-item__tit {
  font-size: 26px;
  font-family: 'PT Serif Caption', serif;
  font-weight: 400;
  text-align: center;
  margin-bottom: 35px;
}
@media (min-width: 768px) {
  .room-item__tit {
    font-size: 30px;
  }
}
.price {
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  vertical-align: middle;
}
.price span {
  color: #ff7435;
}
img {
  max-width: 100%;
}
.nav-hidden {
  display: none;
}
.nav-hidden__list {
  list-style: none;
  text-align: center;
  padding: 0;
}
.nav-hidden__item {
  display: list-item;
  padding: 14px 0;
  border-bottom: 1px solid #ebebeb;
}
.nav-hidden__link {
  line-height: 18px;
  font-weight: 300;
  text-transform: uppercase;
}
