@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,500,700&subset=cyrillic);
@import url(https://fonts.googleapis.com/css?family=PT+Serif+Caption&subset=cyrillic);
@import url(https://fonts.googleapis.com/css?family=PT+Serif&subset=cyrillic);
@import url(https://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700&subset=cyrillic);
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.btn {
  background: #ff7435;
  border-radius: 70px;
  font-family: 'Fira Sans', sans-serif;
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  box-sizing: border-box;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 30px;
  display: inline-block;
  border: none;
  outline: none;
}
.btn:hover {
  background: #e85715;
}
.btn--green {
  background: #0ab89d;
  color: #ffffff;
  padding: 20px 30px 20px 30px;
  text-decoration: none;
  border-radius: 0;
}
.btn--green:hover {
  background: #079b84;
}
.btn--white-bordered {
  color: #ffffff;
  background-color: #15b598;
  padding: 10px 28px 10px 26px;
  text-decoration: none;
  border: 2px solid white;
}
.btn--white-bordered:hover {
  background: #ffffff;
  color: #15b598;
}
.btn--icon-calendar {
  padding-left: 20px;
  padding-right: 20px;
}
.btn--icon-calendar span {
  background-image: url('../../img/calendar.png');
  width: 16px;
  height: 16px;
  display: inline-block;
}
.page-header {
  border-bottom: 1px solid #ebebeb;
  padding: 20px 60px;
  max-width: 1200px;
}
.page-header__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}
.page-header__contacts {
  display: block;
}
@media screen and (max-width: 1200px) {
  .page-header__contacts {
    display: none;
  }
}
.page-header__contacts a {
  text-decoration: none;
  color: #191919;
  font-size: 18px;
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: bold;
}
.page-header__contacts p {
  color: #191919;
  font-size: 14px;
  font-family: 'Fira Sans', sans-serif;
}
.page-header__btn {
  display: block;
}
@media screen and (max-width: 1200px) {
  .page-header__btn {
    display: none;
  }
}
.page-footer {
  display: flex;
  justify-content: center;
}
.page-footer__address {
  font-family: 'Fira Sans', sans-serif;
  font-size: 14px;
  line-height: 18px;
  padding-right: 200px;
}
@media screen and (max-width: 768px) {
  .page-footer__address {
    display: none;
  }
}
.page-footer__contacts {
  font-family: 'Fira Sans', sans-serif;
  font-size: 14px;
  line-height: 18px;
  padding-left: 300px;
}
@media screen and (max-width: 768px) {
  .page-footer__contacts {
    display: none;
  }
}
.social {
  list-style: none;
}
@media screen and (max-width: 1200px) {
  .main-nav {
    display: none;
  }
}
.main-nav__item {
  display: inline-block;
  text-transform: uppercase;
  padding-right: 10px;
}
.main-nav__list {
  padding: 0;
  list-style: none;
}
.main-nav__item a {
  text-decoration: none;
  color: #191919;
  font-size: 14px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  line-height: 72px;
}
.main-nav__item a:hover {
  color: #ff7435;
}
.main-nav__burger {
  background: url(../../img/burger.png) no-repeat 0 0;
  width: 30px;
  height: 20px;
}
@media screen and (min-width: 1200px) {
  .main-nav__burger {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .main-nav__burger {
    display: none;
  }
}
.rest-tabs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  justify-content: center;
}
.rest-tabs__switcher {
  list-style: none;
  order: 2;
}
.rest-tabs__switcher li {
  display: inline-block;
}
.rest-tabs__switcher a {
  text-decoration: none;
  text-transform: uppercase;
  color: #838383;
  font-size: 14px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  line-height: 72px;
}
.rest-tabs__switcher:selected {
  color: #ff7435;
}
.rest-tabs__tabs-top {
  display: flex;
  width: 100%;
  order: 1;
}
.rest-tabs__top-item {
  display: block;
  background-image: url('../../img/tabs-top.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .rest-tabs__top-item {
    min-height: 430px;
  }
}
.rest-tabs__top-inner-text {
  margin-left: 90px;
  margin-top: 75px;
  max-width: 590px;
  display: block;
}
.rest-tabs__top-title {
  color: #1c1c1c;
  font-size: 36px;
  font-family: 'PT Serif Caption', serif;
  line-height: 42px;
  text-align: left;
  font-weight: 400;
  background-color: #fffffe;
}
.rest-tabs__top-description {
  color: #1c1c1c;
  font-size: 18px;
  font-family: 'Fira Sans', sans-serif;
  line-height: 24px;
  text-align: left;
  background-color: #fffffe;
}
.rest-tabs__tabs-bottom {
  order: 3;
}
.rest-tabs__bottom-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 865px;
  margin-left: 210px;
  margin-right: 210px;
}
@media screen and (min-width: 1200px) {
  .rest-tabs__bottom-list {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .rest-tabs__bottom-list {
    display: none;
  }
}
.rest-tabs__bottom-list-item {
  display: inline-flex;
  flex-wrap: wrap;
  font-size: 14px;
  font-family: 'Fira Sans', sans-serif;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  vertical-align: top;
  max-width: 80px;
  margin-left: 35px;
  margin-bottom: 20px;
}
.rest-tabs__bottom-list-item img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin-bottom: 15px;
}
.rest-tabs__bottom-item-inner {
  background-image: url("../../img/background-tabs-bottom.png");
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 450px;
  padding-top: 40px;
}
.rest-tabs__bottom-title {
  color: #000000;
  font-size: 30px;
  font-family: 'PT Serif Caption', serif;
  text-align: center;
}
.rest-tabs__bottom-description {
  color: #000000;
  font-size: 16px;
  font-family: 'Fira Sans', sans-serif;
  line-height: 22px;
  font-weight: 500;
  text-align: center;
}
.location__transport {
  display: flex;
  flex-wrap: wrap;
}
.location__transport-item {
  max-width: 480px;
}
.location__title {
  color: #191919;
  font-family: 'PT Serif Caption', serif;
  font-size: 30px;
  text-align: center;
}
.location__transport-title {
  color: #191919;
  font-family: 'Fira Sans', sans-serif;
  font-size: 14px;
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 1200px) {
  .location__transport {
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
}
.choose-rest {
  background-image: url("../../img/background-rest-place.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 10px;
  min-height: 500px;
  width: 100%;
}
.choose-rest__inner {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  align-items: center;
  flex-wrap: wrap;
}
@media and (min-width: 768px) {
  .choose-rest__inner {
    flex-wrap: nowrap;
  }
}
.choose-rest h1 {
  color: white;
  font-family: 'PT Serif Caption', serif;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
}
.choose-rest__desc {
  background: white;
  margin: 0;
  height: 136px;
  min-width: 280px;
}
.choose-rest__img {
  margin: 0;
  min-width: 280px;
  height: 200px;
}
.choose-rest__place {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-decoration: none;
  color: #191919;
  text-align: center;
}
.choose-rest__title {
  font-family: 'PT Serif', serif;
  font-size: 26px;
  line-height: 19px;
  vertical-align: middle;
}
.choose-rest__place-inner {
  margin: 10px;
}
.price {
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  vertical-align: middle;
}
.price span {
  color: #ff7435;
}
.offers__title {
  color: #000000;
  font-family: 'PT Serif Caption', serif;
  font-size: 30px;
}
.offers__season-title {
  color: #ff7435;
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
}
.offers__season-item {
  color: #191919;
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
}
.reviews {
  background-image: url("../../img/background-reviews.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.reviews__title {
  font-family: 'PT Serif Caption', serif;
  font-size: 30px;
  vertical-align: middle;
  color: white;
  font-weight: 400;
}
.reviews__item {
  background-color: white;
}
.owl-prev {
  background-image: url('../../img/prev-btn.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 20px;
  height: 40px;
  color: rgba(200, 54, 54, 0);
}
.owl-next {
  background-image: url('../../img/next-btn.png');
  background-repeat: no-repeat;
  width: 20px;
  height: 40px;
  position: absolute;
}
.booking-form__main-title {
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 30px;
  text-align: center;
  color: #000000;
}
.booking-form__title {
  font-family: 'PT Serif', serif;
  font-size: 26px;
  line-height: 19px;
  color: #191919;
  text-align: center;
}
.booking-form__desc {
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-align: center;
}
.booking-form__desc span {
  color: #ff7435;
}
.booking-form__date {
  font-family: 'Fira Sans', sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #4c4c4c;
  text-align: center;
  text-transform: uppercase;
}
.booking-form__date-rest {
  background-color: #f1f1f1;
}
.booking-form__inner-date {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.step-form {
  font-family: 'Fira Sans', sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: #929292;
  text-align: center;
  text-transform: uppercase;
}
/* 
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.owl-carousel .owl-animated-in {
  z-index: 0;
}
.owl-carousel .owl-animated-out {
  z-index: 1;
}
.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* 
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}
/* 
 *  Core Owl Carousel CSS File
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}
.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
}
.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel.owl-loaded {
  display: block;
}
.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}
.owl-carousel.owl-hidden {
  opacity: 0;
}
.owl-carousel .owl-refresh .owl-item {
  display: none;
}
.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  -webkit-transform-style: preserve-3d;
}
.owl-carousel.owl-text-select-on .owl-item {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}
.owl-carousel .owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}
.owl-carousel.owl-rtl {
  direction: rtl;
}
.owl-carousel.owl-rtl .owl-item {
  float: right;
}
/* No Js */
.no-js .owl-carousel {
  display: block;
}
/* 
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-item img {
  transform-style: preserve-3d;
}
/* 
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}
.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: scale 100ms ease;
  -moz-transition: scale 100ms ease;
  -ms-transition: scale 100ms ease;
  -o-transition: scale 100ms ease;
  transition: scale 100ms ease;
}
.owl-carousel .owl-video-play-icon:hover {
  -webkit-transition: scale(1.3, 1.3);
  -moz-transition: scale(1.3, 1.3);
  -ms-transition: scale(1.3, 1.3);
  -o-transition: scale(1.3, 1.3);
  transition: scale(1.3, 1.3);
}
.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none;
}
.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
}
