.location {

    &__transport {
  display:flex;
  flex-wrap:wrap;
  justify-content:center;

}

&__transport-item {
  max-width:480px;
  color:@gray-darkest;
    font-family:@font-family;
    font-size:@text-size;
    font-weight: 400;
    display:flex;
    flex-wrap:wrap;
  justify-content:center;

   & ul {
    list-style: none;
   }
}


  &__title {

  	color:@gray-darkest;
  	font-family:@font-family-second;
  	font-size:@text-size-h2;
    text-align: center;
    font-weight: 400;

  }

  &__transport-title {
  	
    color:@gray-darkest;
  	font-family:@font-family;
  	font-size:@text-size-sm;
    text-align: center;
    font-weight: bold;

  }

  &__transport--bus {

    background-image: url("../../img/bus.png");
    background-repeat: no-repeat;
    width: 55px;
    height: 30px;


  }

  &__transport--train {

    background-image: url("../../img/train.png");
    background-repeat: no-repeat;
    width: 60px;
    height: 30px;
  }
}


@media screen and (max-width: @screen-sm) { //до 768//
  

}


