.main-nav{



   
    display: none;


    @media screen and (min-width: @screen-lg) { //до 1200//
     display:inline-block;
    }
  

    &__item{
    display: inline-block;
    padding:0;
    margin:0;

    }

    &__list {
    padding: 0;
    margin:0;
    list-style: none;
    }
  &__item a:first-child {
    padding-left: 0;
  }

  &__item a {
    text-decoration: none;
    font-size: @text-size-sm;
    line-height: 72px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 300;
    padding: 0 6px;


}


  &__item a:hover {
    color: @color-primary;
  }
  
  &__burger {
    background: url("../../img/burger.png") no-repeat 0 0;
    width: 30px;
     height:20px;
    display:inline-block;
    @media screen and (min-width: @screen-lg) {
      display: none; 
  }
}

}
