.page-header  {


     border-bottom: 1px solid @gray-lighten;
     //padding: 20px 60px;
    // max-width:1200px;
     
       &__inner { 
          display:flex; 
          justify-content:space-between;
          flex-wrap:wrap;
          margin-right: 0;
          
          align-items: center;
          padding: 0 25px;
      @media (min-width: @screen-lg){
       width: 1180px !important;
        margin-left: auto !important;
       }
      @media (min-width: @screen-sm) {
       width: 768px;
       
    }
}
    
    &__contacts {
      display: none;
    @media screen and (min-width: @screen-lg) {
      display:inline-block;
      }
    }

      &__contacts a {

		text-decoration: none;
		color:@gray-darkest;
		font-size: @text-size-bg;
    font-family: @font-family-third;
    font-weight: bold;

	}

	 &__contacts p {
		color:@gray-darkest;
		font-size: @text-size-sm;
    font-family: @font-family;
	}

  &__btn {
    display: none;
    @media screen and (min-width: @screen-lg) {
      display:inline-block !important;
    }
  }


}









