
.page-footer {

	display:flex;
	justify-content:space-around;

	&__address {
		font-family: @font-family;
		font-size: @text-size-sm;
		line-height: 18px;
	}

	&__contacts {

		font-family: @font-family;
		font-size: @text-size-sm;
		line-height: 18px;
	}
}




@media screen and (max-width: @screen-sm) { //до 768//
  
  
  .page-footer__address {display:none;}
  .page-footer__contacts {display:none;}
}


@media screen and (max-width: @screen-lg) { //до 1200//

  
  
}

@media screen and (min-width: @screen-lg) { //от1200//
 
}


.social {
	list-style:none;
}