.room-types {

    &__promo {
    

    padding: 40px 0;
    margin-bottom: 45px;
    text-align: center;
    min-height: 200px;
    background-image: url(../../img/promo-room-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 20% 80%;  //координаты потом надо исправить//
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (min-width: @screen-sm){
    display: block;
    }

    }

    &__title {
    font-size: @text-size-h3;
    font-family: @font-family-second;
    font-weight: 300;
    display: inline-block;
    color: white;
    }

    &__description {
        
    display: none;
    font-size: @text-size-bg;
    line-height: 24px;
    font-family: @font-family;
    font-weight: 300;
    color: white;

    @media (min-width: @screen-sm){
    display: block;
    }

      & p {
    margin: 0;
     }

    }


    &__inner {
    margin-right: auto;
    margin-left: auto;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    display: flex;

    @media (min-width: @screen-lg){
    width: 1180px;
     }
    
    
}

    

    
}




.room-item{

    @media (min-width: @screen-lg){
    position: relative;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 80px;
}

    width: 100%;
    border: 1px solid #ebebeb;
    background-color: @gray-lightest;
    text-align: center;
    padding: 35px 0;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;   


	&__inner {
        @media (min-width: @screen-lg){
    width: 50%;
}
    }

    &__img-inner {
    
    @media (min-width: @screen-lg) {
    width: 50%;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    }

    display: inline-block;  
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-top: 30px;

    & img {
    width: 100%;
    height: 100%;
    }
    
    	
    }


	&__title {

		font-family: @font-family-four;
    	font-size: @text-size-h3;
    	line-height: 19px;
    	vertical-align: middle;
    	color:@gray-darkest;
        margin: 0;

        @media (min-width: @screen-sm) {
        font-size: @text-size-h2;
}
	}

	&__text {

    @media (min-width: @screen-lg){
    width: 65%;
    }
   @media (min-width: @screen-sm){
    width: 55%;
   }

    width: 90%;
    display: inline-block;
    text-align: left;
    margin-top: 25px;
    margin-bottom: 35px;

    & p {
    margin: 0;
    }

    
    	
	}

    &__btns {
        @media (min-width: @screen-sm){
    display: flex;
    flex-direction: row;
    justify-content: center;
}

    
    display: flex;
    flex-direction: column;

    }

    &__btn-wrapper {

    @media (min-width: @screen-sm){
    margin-right: 40px;
    }

    margin-bottom: 20px;
    }

    &__tit {
        
    
    font-size: @text-size-h3;
    font-family: @font-family-second;
    font-weight: 400;
    text-align: center;
    margin-bottom: 35px;
    
    @media (min-width: 768px){
    font-size: @text-size-h2;
    }
  

}

}